<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 포트폴리오</title>
    <link href="{{ url_for('static', filename='index.css')}}" rel="stylesheet">
</head>
<body>
    <div class = 'container'>
        <h1>안녕하세요! 🌀</h1>
        <p> 제 이름은 하치와레...</p>
        <img src="{{ url_for('static', filename='my.png')}}" alt="프로필 이미지"> 
        <p><a href="https://github.com/Jmlee0507/LLM.git">🔗 github 바로가기</a></p>
        <p>
        <a href = "/about">소개</a> | <a href = "/projects">프로젝트</a>
        </p>
    </div>
    
</body>
</html>